<!DOCTYPE html>
<!--<html lang="ko">-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- layouts 폴더에 있는 layout1.html파일을 가져온다 -->

<th:block layout:fragment="css">
    <style>
        .fieldError{
           color: #bd2130;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready( function(){
           let errorMessage = [[${errorMessage}]];
           if(errorMessage != null){
             alert(errorMessage);
           }
        });
    </script>
</th:block>


<div class="container" layout:fragment="content">
    <!-- include summernote css/js-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>


    <div class="row">
        <div class=" w-100 d-flex justify-content-center mb-5">
            <form action="/tutorSignUpForm" method="post"  role="form">
                <h3 class="text-center">강사 지원</h3>

                <div class="mb-3 mt-3">
                    <label for="userNo" class="form-label">회원번호</label>
                    <input type="text" class="form-control" id="userNo"  th:value="${userDto.userNo}" disabled
                           placeholder="이메일 입력하세요" name="userNo" >
                </div>

                <div class="mb-3 mt-3">
                    <label for="userEmail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="userEmail" disabled
                           placeholder="이메일 입력하세요" name="userEmail" th:value="${userDto.userEmail}">

                </div>

                <div class="mb-3 mt-3">
                    <label for="userName" class="form-label">이름</label>
                    <input type="text" class="form-control" id="userName"
                           placeholder="이름을 입력하세요" name="userName" disabled
                           th:value="${userDto.userName}">
                </div>

                <div class="mb-3 mt-3">
                    <label for="userNickname" class="form-label">닉네임</label>
                    <input type="text" class="form-control" id="userNickname" disabled
                           placeholder="닉네임을 입력하세요" name="userNickname" th:value="${userDto.userNickname}">

                </div>

                <div class="mb-3">
                    <label for="t_career" class="form-label">
                        경력 / 저서 입력
                    </label>
                    <textarea class="form-control" id="t_career" name="tCareer" rows="3"></textarea>
                    <script>
                        $(function(){
                            $("#t_career").summernote({
                              placelholder: '경력 및 저서을 입력하세요',
                              tabsize: 2,
                              height: 100
                            });
                        });
                    </script>
                </div>
                <div class="mb-3">
                    <label for="t_introduce" class="form-label">
                        소개글 입력
                    </label>
                    <textarea class="form-control" id="t_introduce" name="tIntroduce" rows="3"></textarea>
                    <script>
                        $(function(){
                            $("#t_introduce").summernote({
                              placelholder: '경력 및 저서을 입력하세요',
                              tabsize: 2,
                              height: 100
                            });
                        });
                    </script>
                </div>
                <div class="mb-3 mt-3">
                    <label for="t_youtube" class="form-label">유튜브 url 입력</label>
                    <input type="text" class="form-control" id="t_youtube"
                           placeholder="유투브 주소 입력" name="tYoutube" >
                </div>
                <div class="mb-3 mt-3">
                    <label for="t_instragram" class="form-label">Instargram url입력</label>
                    <input type="text" class="form-control" id="t_instragram"
                           placeholder="인스타그램 주소 입력" name="tInstargram" >
                    <input type="hidden" class="form-control" th:value="${userDto.userNo}"
                           name="userNo" >
                    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
                </div>
                <p class="text-center p-3">
                    <button type="submit" class="btn btn-primary">강사 지원하기</button>
                </p>


            </form>
        </div>

        <div>

        </div>
    </div>
</div>
</html>
